
.dashboard .sidelink {
  width: 70px;
  height: 70px;
  box-shadow: var(--light-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 4px;
  gap: 5px;
  transition: all 0.3s
}
.dashboard .sidelink span {
  font-size: 12px
}
.sidebar i {
  color: #000
}
.dashboard .sidelink:hover  i, .dashboard .activesidelink i {
  color: var(--theme-color)
}
.darkdashboard .sidebar  a , .darkdashboard .sidebar   i {
  color: #fff
}
.darkdashboard  .sidelink {
  box-shadow:  0px 0px 7px 1px rgb(49, 49, 49)
}
.dashboard .sidelink:hover, .dashboard .activesidelink  {
  box-shadow: 0px 10px 12px -6px var(--theme-color);
  color: var(--theme-color) 
}
.darkdashboard .sidebar .activesidelink  , .darkdashboard .sidebar  .activesidelink i {
  color: var(--theme-color)
}