.template {
  width: 250px;
  height: 170px;
  overflow: hidden;
  color: #fff;
  border-radius: 5px;;

}
.template > img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%
}
#templateone img {
  filter: brightness(70%);

}
#templateone div{
  display: flex;
  flex-direction: column;
  align-items: center
}
#templateone div:last-of-type, #templatetwo div:last-of-type {
  display: none
}
 #templateone .logo {
  justify-content: flex-end;
  padding: 10px;
  color: #000
}
 #templatetwo .logo {
   color: #000
 }
#templatethree img, #templatefour .logo img{
  display: none
}
#templatethree, #templatefour {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}
 #templatethree .logo, #templatefour .logo {
  color: #fff;
  font-size: 22px;
  border-bottom: solid 1px #fff;
  padding-bottom: 10px
}
#templatethree div:first-of-type, #templatefour div:first-of-type {
  display: none
}
#templatethree div:last-of-type, #templatefour div:last-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  gap: 5px;
  margin-top: 7px
}

#templatetwo {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0 10px
}
#templatetwo div {
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.644);
  height: 90%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
  padding: 10px;
  font-size: 12px;
  font-weight: bold
}
.selecttemplate {
  position: absolute;
  bottom: 0;
  right: 0
}
.selecttemplate button {
  font-size: 12px;
  width: 100px;
  padding: 5px;
}